__pycache__/
*.py[cod]
*$py.class
*.log
*.cache
.env

*.sqlite3
*.pyc
*.pyo

/staticfiles/

venv/
.env/

.vscode/
*.sublime-project
*.sublime-workspace

db.sqlite3

*.pyc

*.mo

/.venv/


settings_local.py

.DS_Store