{% extends 'products/base.html' %}
{% load static %}
{% block content %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/news.css' %}">
</head>
  <ul class="news-list">
    {% for news in news_list %}
      <li class="news-item">
        <img src="{{ news.image.url }}" alt="Изображение новости" class="news-image">
        <h2>{{ news.title }}</h2>
        <p>{{ news.content}}</p>
        <a href="{% url 'news_detail' news.pk %}" class="read-more">Читать далее</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
