.questions-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
}
main{
    padding-top: 200px;
}
.question-card{
    background-color: #8E9D74;
    /* background-color: #FFE1A0; */
    border-radius: 25px;
    overflow: hidden;
    padding: 0 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
    height: 100%; 
    box-shadow: 0 5px 20px #000000;
    transition: background-color 0.5s, box-shadow 0.5s, height 0.5s;
}

.question-card details > summary > h3 {
    display: inline-block;
}

.question-card details > summary{
    display: flex;
    justify-content: space-between;
    list-style:none;
}

.question-card details > summary:after{
    content: "+";
    margin-top: 20px;
    color: black;
    font-family: "Arista", "Bergamasco", sans-serif;
    letter-spacing: 1px;
    font-size: 3em;
}

.question-card details[open] > summary:after{
    content: "-";
}

.question-card .content p{
    margin: 0;
    color: rgb(75, 75, 75);
    line-height: 1.2em;
    font-family: "Arista", "Bergamasco", sans-serif;
    letter-spacing: 1px;
    font-size: 0.9em;;
}

.question-card .content p:last-child{
    margin: 10px 0;
    color: rgb(75, 75, 75);
    font-family: "Arista", "Bergamasco", sans-serif;
    letter-spacing: 1px;
    font-size: 0.8em;
}

/* .question-card details[open]{
    background-color: rgb(196, 174, 251);
    box-shadow: 0 4px 20px#feca3a;
} */
