
.slider {
  position: relative;
  top: 150px;
  max-width: 700px;
  margin: auto;
  overflow: hidden;
  padding-bottom: 100px;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: 100%;
  position: relative;
}
.slide img {
  width: 100%;
  height: auto;
}
.caption {
  position: absolute;
  bottom: 10px;
  left: 440px;
  color: grey;
  background-color:transparent;
  padding: 10px;
  border-radius: 5px;
}
.nav {
  position: absolute;
  top: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-30%);
}
.nav button {
  font-size: 30px;
  background-color: transparent;
  border: none;
  padding: 10px;
  color: #8E9D74;
  cursor: pointer;
}
.pagination {
  position: relative;
  top: 40px;
  text-align: center;
}
.pagination button {
  background-color: #bbb;
  border: none;
  padding: 5px;
  margin: 0 3px;
  cursor: pointer;
  border-radius: 50%;
}
.pagination button.active {
  background-color: #717171;
}
.counter {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

#hero-section {
    background-color: #8E9D74; /*  Replace with the exact hex code from image */
    padding: 100px;
    padding-top:250px;
    margin: -32px; 
    margin-top:-200px;
    height: 400px;
    position: relative;
  }
  .hero > img{
    top: 450px;
    left: 35%;
    height: 60%;
    width: auto;
    position: absolute;

  }

  .hero > img[class="wall-picture"]{
    top: 250px;
    left: 55%;
    height: 30%;
    width: auto;
    position: absolute;

  }
  #hero-section h1.company-name {
    font-size: 3.2em; /* Adjust font size as needed */
    margin-top: -20px;
    margin-bottom: 30px;
    padding-left: 15%;
    color: #f1f5ea;
    text-align: center;
  }

  #hero-section h1 {
    font-size: 3em; /* Adjust font size as needed */
    margin-top: -20px;
    margin-bottom: 20px;
    color: #f1f5ea;
    text-align: left;
  }
  
  #hero-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #f1f5ea; /* Or another suitable color */
    text-align: left;

  }

  #hero-section a {
    text-decoration: none;
    padding: 15px 30px;
    font-size: 1em;
    margin: 0 10px; /* Add spacing between buttons */
    background-color: #2E3315; /* Adjust color as needed */
    color: #f1f5ea;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
  }
   
  #hero-section a:hover {
    color: #d1d1d1;
  }
  .pagination-controls {
    margin-top: 20px;
    text-align: center;
}

.pagination-controls button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.pagination-controls button.active {
    background-color: #8E9D74;
    color: white;
}

.pagination-controls button:hover {
    background-color: #4e583d;
    color: white;
}

.pagination-controls button.prev-button,
.pagination-controls button.next-button {
    font-weight: bold;
}
.pagination-controls button:disabled {
  color: black;
  background-color: #d3d3d3; 
  /* cursor: not-allowed;  */
  opacity: 0.6; 
}
.search-form {
  margin-top: 200px;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-form .input-group {
  margin-bottom: 20px;
}

.search-form input[type="search"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.search-form button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.search-form button[type="submit"]:hover {
  background-color: #23527c;
}

.filter-form {
  margin-top: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filter-form .row {
  margin-bottom: 20px;
}

.filter-form label {
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-form input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.filter-form select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.filter-form button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.filter-form button[type="submit"]:hover {
  background-color: #23527c;
}

.product-grid {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15%;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* adjust the number of columns as needed */
  gap: 20px;
  
}

.product-card {
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-width: 200px;
  box-sizing: border-box;
  min-height: 300px;
  text-decoration: none; /* Ensure no underline */
  color: inherit; /* Inherit color for text */
  transition: background-color 0.2s; /* Add transition effect */
}

.product-card:hover {
  background-color: #f5f5f5; /* Make it slightly darker on hover */
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.product-image {
  padding-bottom: 70px;
  width: 100%;
  height: auto;
  max-height: 200px; /* Ограничение высоты изображения */
}

.product-title {
  font-size: 20px;
  color: black;
  margin: 1px 0;
  padding-bottom: 5px;

}

/* Add animation to news section */
.news-section {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Style news section */
.news-section {
  display: flex;
  margin-top: 5%;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-image {
  width: 30%;
  height: auto;
  object-fit: contain;
  margin-left: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.news-text {
  width: 60%;
  padding: 20px;
}

.news-text h2 {
  font-size: 24px;
  margin-bottom: 30px;
  color: #333;
}

.news-text p {
  font-size: 16px;
  margin-bottom: 60px;
  color: #666;
}

.news-text a {
  text-decoration: none;
  color: #666;
}

.news-text a:hover {
  color: black;
}

/* Add gradient to news section */
.news-section {
  background-image: linear-gradient(to right, #f7f7f7, #ffffff);
}

.partner-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers the items horizontally */
  background-image: linear-gradient(to right, #f7f7f7, #ffffff);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
}

.partner-list li {
  display: flex;
  flex-direction: column; /* Aligns image and text vertically */
  align-items: center; /* Centers the content within each item */
  margin: 0 15px;
  transition: transform 0.2s, box-shadow 0.2s;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.partner-list li:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.partner-list img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.partner-list span {
  display: block;
  margin-top: 5px;
  text-align: center;
  font-weight: bold;
  color: #666;
}

.tetris-container {
  margin-left: 600px;
  position: relative;
  width: 126px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
}

.figure {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: repeat(4, 30px);
  gap: 2px;
  opacity: 0;
}

.block {
  width: 30px;
  height: 30px;
  background-color: #3498db;
  border: 1px solid #2980b9;
}

/* Фигурка I */
.figure-i {
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: 30px;
}

.figure-i .block {
  background-color: #1abc9c;
  border-color: #16a085;
}

/* Фигурка O */
.figure-o {
  grid-template-columns: repeat(2, 30px);
  grid-template-rows: repeat(2, 30px);
}

.figure-o .block {
  background-color: #f1c40f;
  border-color: #f39c12;
}

/* Фигурка T */
.figure-t {
  grid-template-columns: repeat(3, 30px);
  grid-template-rows: repeat(2, 30px);
}

.figure-t .block {
  background-color: #9b59b6;
  border-color: #8e44ad;
}

/* Фигурка L */
.figure-l {
  grid-template-columns: repeat(3, 30px);
  grid-template-rows: repeat(2, 30px);
}

.figure-l .block {
  background-color: #e67e22;
  border-color: #d35400;
}

/* Фигурка J */
.figure-j {
  grid-template-columns: repeat(3, 30px);
  grid-template-rows: repeat(2, 30px);
}

.figure-j .block {
  background-color: #2980b9;
  border-color: #2c3e50;
}

/* Фигурка S */
.figure-s {
  grid-template-columns: repeat(3, 30px);
  grid-template-rows: repeat(2, 30px);
}

.figure-s .block {
  background-color: #2ecc71;
  border-color: #27ae60;
}

/* Фигурка Z */
.figure-z {
  grid-template-columns: repeat(3, 30px);
  grid-template-rows: repeat(2, 30px);
}

.figure-z .block {
  background-color: #e74c3c;
  border-color: #c0392b;
}

/* Анимация падения */
@keyframes fall3 {
  50% {
    transform: translateY(-100%);
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fall1 {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fall2 {
  25% {
    transform: translateY(-100%);
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  45% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fall4 {
  75% {
    transform: translateY(-100%);
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  95% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes stay {
from {
transform: translateY(0);
opacity: 1;
}
to {
transform: translateY(0);
opacity: 1;
}
}

  .figure-i {
    animation: fall3 1s ease forwards;
    animation-iteration-count: infinite;
  top: 181px;
  animation-delay: 0s;
}

.figure-o {
    animation: fall4 1s ease forwards;
    animation-iteration-count: infinite;
  top: 117px;
  animation-delay: 0s;
}
.figure-t {
    animation: fall2 1s ease forwards;
    animation-iteration-count: infinite;
left: 32px;
  top: 213px;
  animation-delay: 0s;
} 

.figure-l {
  animation: fall1 1s ease forwards;
  animation-iteration-count: infinite;
  top: 276px;
  right: 33px;
  animation-delay: 0s;
}

/* Заданные позиции фигур, которые уже находятся внизу */
.bottom-figure {
  animation: none;
  opacity: 1;
}





.scene {
  position: relative;
  background-color: white;
  width: 90vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  animation: changeBackground 6s forwards; /* 6 секунд для обеих анимаций */
}
@keyframes changeBackground {
  0% {
    background-color: white;
  }
  50% {
    background-color: white;
  }
  55% {
    background-color: gray; /* Переход к серому */
  }
  60% {
    background-color: gray; /* Переход к серому */
  }
  100% {
    background-color: white;
  }
}
/* Анимация вращения и схождения предметов к центру */
.item {
  position: absolute;
  width: 70px;
  height: 70px;
}

.board {animation:   gatherAtCenterBoard 3s forwards ease-in 0s,fadeOut 0.1s forwards 3.2s;   }
.nail {animation: gatherAtCenterHammer 3s forwards ease-in 0s, fadeOut 0.1s forwards 3.2s; }
.hammer { animation: gatherAtCenterNail 3s forwards ease-in 0s, fadeOut 0.1s forwards 3.2s }

.item img {
  width: 100%;
  height: 100%;
}


/* Схождение в центр экрана */
@keyframes gatherAtCenterBoard {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)translate(400px, -200px);
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(0);
  }
}

@keyframes gatherAtCenterHammer {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(-400px, -200px);
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(0);
  }
}
@keyframes gatherAtCenterNail {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)translate(0px, 200px);
  }
  100% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(0);
  }
}


/* Исчезновение элементов после взрыва */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Взрыв в центре экрана */
.explosion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
  width: 200px;
  height: 200px;
  opacity: 0;
  animation: explode 3s forwards 2.9s;
}

@keyframes explode {
  0% {
    transform: scale(0.5) translate(-50%, -50%) translate(-100px, -150px) ;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70%{
    opacity: 0.7;
  }
  100% {
    transform: scale(1.7) translate(-50%, -50%) translate(-50px, -50px);
    opacity: 0;
  }
}

/* Появление и исчезновение мебели */
.furniture {
  position: absolute;
  width: 70px;
  height: 70px;
  opacity: 0;
}

.table {
  top: 50%;
  left: 30%;
  animation: appear 1s forwards 5s, disappear 1s forwards 10s, moveTable 4s linear forwards 6s;
}

.chair {
  top: 50%;
  left: 40%;
  animation: appear 1s forwards 5s, disappear 1s forwards 10s, moveChair 4s linear forwards 6s;
}

.wardrobe {
  top: 50%;
  left: 50%;
  animation: appear 1s forwards 5s, disappear 1s forwards 10s, moveWardrobe 4s linear forwards 6s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

/* Анимация для стола */
@keyframes moveTable {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(150px) translateY(-50px);
  }
  50% {
    transform: translateX(300px) translateY(0);
  }
  75% {
    transform: translateX(150px) translateY(50px);
  }
  100% {
    transform: translateX(-50px) translateY(0);
  }
}

/* Анимация для стула */
@keyframes moveChair {
  0% {
    transform: translateX(0) translateY(0);
  }
  20% {
    transform: translateX(80px) translateY(-40px);
  }
  40% {
    transform: translateX(160px) translateY(0);
  }
  60% {
    transform: translateX(100px) translateY(60px);
  }
  80% {
    transform: translateX(-70px) translateY(0);
  }
  100% {
    transform: translateX(-280px) translateY(-0px);
  }
}

/* Анимация для шкафа */
@keyframes moveWardrobe {
  0% {
    transform: translateX(0) translateY(0);
  }
  10% {
    transform: translateX(100px) translateY(-100px);
  }
  20% {
    transform: translateX(200px) translateY(0);
  }
  30% {
    transform: translateX(300px) translateY(-100px);
  }
  40% {
    transform: translateX(400px) translateY(0);
  }
  50% {
    transform: translateX(500px) translateY(100px);
  }
  60% {
    transform: translateX(300px) translateY(0px);
  }
  70% {
    transform: translateX(140px) translateY(-100px);
  }
  80% {
    transform: translateX(-50px) translateY(0px);
  }
  90% {
    transform: translateX(-100px) translateY(100px);
  }
  100% {
    transform: translateX(200px) translateY(-70px);
  }
}

/* Появление названия компании */
.scene .company-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #222; /* Темный цвет для контраста */
  opacity: 0;
  animation: showName 3s forwards 10s, pulse 1s infinite 13s; /* Появление и пульсация */
}

/* Анимация показа названия */
@keyframes showName {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8); /* Небольшое уменьшение */
    text-shadow: none; /* Без тени */
  }
  50% {
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1.1); /* Легкое увеличение */
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5); /* Мягкое свечение */
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 1); /* Яркое свечение */
  }
}

/* Анимация пульсации названия */
@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(1);
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05); /* Легкое увеличение */
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 0.8); /* Усиление свечения */
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 1);
  }
}