.new-card {
    background-color: #e8ebe2;
    border-radius: 25px;
    overflow: hidden;
    margin: 50px auto; /* Center horizontally */
    width: 90%; 
    max-width: 800px; 
    box-shadow: 0 5px 20px #000000;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}

.new-card img {
    width: 100%;
    height: auto;
    grid-column: 1 / span 1;
    border-radius: 10px;
    grid-row: 1 / span 1; /* Occupy the first row */
}

.new-text {
    grid-column: 1 / span 1; /* Occupy the entire column */
    grid-row: 2 / span 1; /* Occupy the second row */
    columns: 2;
    overflow: hidden;
    color: black;
    font-family: 'Times New Roman', Times, serif, monospace, sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 1.3em;
    text-indent: 2em;
    line-height: 1.5em;
    letter-spacing: 2px;
    word-spacing: 0.5em;
    text-transform: capitalize;
    word-break: break-word;
    font-kerning: none;
    font-variant: small-caps;
}

.new-text::first-letter{
    color: red;
}

.new-text::first-line{
    color: #FFAE00;
}

.new-text::selection{
    background-color: #5ade8a;
    color: rgb(139, 51, 207);
}

.new-info > h2{
    text-align: center;
    align-self: start;
}

.new-info p{
    color: black;
    line-height: 1.2em;
    font-family: "Arista", "Bergamasco", sans-serif;
    letter-spacing: 1px;
    font-size: 1.5em;
    overflow: hidden;
    margin: 20px 0;
    /* text-overflow: ellipsis; */
    /* text-wrap: nowrap; */
    text-indent: 1em;
    word-spacing: 5px;
    /* max-width: 500px; */
    /* height: auto; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.new-info p span{
    font-weight: bold;
}