.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
main{
    padding-top: 200px;
}
.title {
    text-align: center;
    margin-bottom: 20px;
}

.promo-list {
    list-style: none;
    padding: 0;
}

.promo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    background-color: #f9f9f9;
}

.promo-info {
    font-size: 1.2em;
    font-weight: bold;
}

.promo-actions {
    text-align: right;
}

.badge {
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 0.9em;
}

.badge-success {
    background-color: #28a745;
    color: white;
}

.badge-danger {
    background-color: #dc3545;
    color: white;
}

.btn {
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #8E9D74;
    color: white;
}

.btn-danger {
    background-color: gray;
    color: white;
}

.add-promo {
    text-align: center;
    margin-top: 20px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .promo-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .promo-actions {
        text-align: left;
        margin-top: 10px;
    }
}